{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link href="{% static 'Pack1/bootstrap.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'Pack/backii.css' %}" rel="stylesheet" type="text/css" />

    <title></title>
  </head>
  <body>
    <form id="form" action="/simulator">
   <div id="header" style="background-color:#FFC300;">
        <div id="header1" style="background-color:#FFC300;" >
            <button ID="Button1"  style=" border-radius:0; height:45px; background-color:#Ffffff; border-color:#FFC300; color:#000000;  margin:0;" class="btn btn-danger" Font-Bold="True" >Sign In</button>
            <a ID="Button2" href="/read" Text="Editor" style="background-color:#FFC300; border-color:#FFC300; color:#ffffff;  margin:0;" class="btn btn-danger" Font-Bold="True" Height="45px" Width="110px" OnClick="Button2_Click" >Editor</a>
            <a ID="Button3" href="/simulator"runat="server" Text="Simulator" style="border-radius:0;height:45px; background-color:#ffffff; border-color:#FFC300; color:#000000;  margin:0;" class="btn btn-danger" Font-Bold="True" OnClick="Button3_Click" >Simulator</a>>

        </div>
            <div id="header2" style="background-color:#FFC300;" >
                <button ID="Button4" runat="server" Text=" " style="height:45px; background-color:#ffffff; border-color:#FFC300; color:#000000;  margin-left:15%; align-items:center; width: 336px;" class="btn btn-danger" Font-Bold="True" >Uit Edition Risc-V Simulator</button>

            </div>
        </div>
       <div id="sp"></div>

       <div class="container" style="float:left; margin-top:0;">
            <textarea id="edit_area" name="editor" style="width:80%; height:500px;" rows="100" placeholder="Write Code...... "></textarea>

       </div>

      <br />


        <div class="container" style="float:left;"> <button ID="Button5" type="submit" style=" border-radius:0; color:#ffffff;  margin:0;" class="btn btn-success" Font-Bold="True" Width="267px" Height="37px" OnClick="Button5_Click"  >Execute</button></div>


    </form>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
