{% load static %}
<!doctype html>
<html lang="en">
  <head>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link href="{% static 'Pack1/bootstrap.css' %}" rel="stylesheet" type="text/css" />
      <link href="{% static 'Pack/backii.css' %}" rel="stylesheet" type="text/css" />
    <title></title>
  </head>
  <body>
  <script>
        $(document).ready(function () {
            $("#hd").show();
            $("#hd1").hide();
            $("#hd2").hide();
        });
    </script>
    <script>
            $(document).ready(function () {

                $("#Button7").on('click', function () {
                    $("#hd").show();
                    $("#hd1").hide();
                    $("#hd2").hide();
                });
            });

        </script>
    <script>
                $(document).ready(function () {

                    $("#Button8").on('click', function () {
                        $("#hd").hide();
                        $("#hd1").show();
                        $("#hd2").hide();
                    });
                });

        </script>
    <script>
                $(document).ready(function () {

                    $("#Button9").on('click', function () {
                        $("#hd").hide();
                        $("#hd1").hide();
                        $("#hd2").show();
                    });
                });

        </script>
    <script src="{% static 'Scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'Pack/JQ.js' %}"></script>




    <form id="form1" >


        <div id="header">
           <div id="header1">


               <button ID="Button1" runat="server" Text="Sign In" style="border-radius:0;height:45px; background-color:#ffffff; color:#000000;  margin:0;" class="btn btn-danger" Font-Bold="True">Sign In</button>
               <a ID="Button2" href="/read" runat="server" Text="Editor" style="border-radius:0;height:45px; background-color:#ffffff; color:#000000;  margin:0;" class="btn btn-danger" Font-Bold="True" OnClick="Button2_Click" >Editor</a>
               <a ID="Button3" runat="server" href="/simulator" Text="Simulator" style="border-radius:0;height:45px; background-color:#ffffff; color:#000000;  margin:0;" class="btn btn-danger" Font-Bold="True" OnClick="Button3_Click" >Simulator</a>

           </div>
               <div id="header2">

                   <button ID="Button4" runat="server" Text="Uit Edition Risc-V Simulator " style="height:45px; background-color:#ffffff; color:#000000;  margin-left:15%; align-items:center; width: 336px;" class="btn btn-danger" Font-Bold="True" >Uit Edition Risc-V Simulator</button>

               </div>
               </div>
               <div id="sp"></div>

                           <div class="container-fluid" style="float:left;">

   <div class="row rows1">
       <!--Right-->
       <div class="col-md-7" style="">

           <div class="container-fluid">
               <div  class="row" style="margin-top:7px; ">
                   <div style="width:100%; height:45px;" >
                 <button ID="Button5" runat="server" Text="Start Simulation From Editor "  style=" margin-left:20%; height:45px; background-color:#ffffff; color:#C70039; border-color:#C70039;  align-items:center; " class="btn btn-danger" Font-Bold="True" >Start Simulation From Editor</button>
                 <button ID="Button6" runat="server" Text="Cancel" style="margin-left:5%;border-radius:0;height:45px; background-color:#ffffff; color:#C70039; border-color:#C70039;  " class="btn btn-danger" Font-Bold="True" >Cancel</button>
                       </div>
               </div>


               <div  class="row" style="margin-top:7px;">
                   <div class="col-12">

                       <h1 class="text-primary" style="color:#C70039;">Risc-V Simulator</h1>
                       <p class="text-success">It is an open-source hardware instruction set architecture (ISA) based on established reduced instruction set computer (RISC) principles. The project began in 2010 at the University of California, Berkeley, but many contributors are volunteers not affiliated with the university.</p>
                       <p class="text-success">This Getting Started Guide will explain how to get started with developing for the free and open RISC-V ISA, both in simulation and on physical implementations.

                           The Guide focuses on running standard operating systems - Zephyr and Linux - on popular RISC-V platforms with minimum effort.

   It will be expanded with time to cover more platforms and scenarios.
                       </p>
                       </div>
               </div>
               <div  class="row" style="margin-top:7px;">
                    <div class="col-12">


                                    <textarea id="TextArea1" name="fresult"  runat="server" style=" margin-top:4px; width:100%; " rows="6" placeholder="Output is Here">{{fresult}}</textarea>


                    </div>

               </div>

           </div>

       </div>
       <!--Left-->
       <div class="col-md-5">

           <div class="container-fluid"  >

               <div class="row" style="background-color:#ffffff; margin-top:5px;">

                   <div class="col-3"> <button  ID="Button7" runat="server" Text=""  style="  background-color:#ffffff; color:#C70039; border-color:#ffffff; " class="btn btn-danger" Font-Bold="True" OnClientClick="return false;">Mey554</button></div>
                   <div class="col-3 offset-2"><button ID="Button8" runat="server" Text="Cache"  style="  background-color:#ffffff; color:#C70039; border-color:#ffffff; " class="btn btn-danger" Font-Bold="True" OnClientClick="return false;" >Cache</button></div>
                   <div class="col-3 offset-1"><button ID="Button9" runat="server" Text="Register"  style="  background-color:#ffffff; color:#C70039; border-color:#ffffff; " class="btn btn-danger" Font-Bold="True" OnClientClick="return false;" >Register</button></div>

               </div>

               <div class="row" style="background-color:#ffffff; margin-top:5px; height:440px;">

                   <div id="hd" style="width:100%; height:440px; background-color:#74B2F1;" >
                       <textarea ID="TextBox1" runat="server" Height="437px" Width="896px"></textarea>
                   </div>
                   <div id="hd1" style="width:100%; height:440px;  background-color:#CC89A3;" ></div>
                   <div id="hd2" style="width:100%; height:440px; background-color: #DAF7A6;" >
                       <textarea ID="TextBox2" runat="server" Height="437px" Width="896px" OnTextChanged="TextBox2_TextChanged"></textarea>
                   </div>

               </div>

           </div>



       </div>

   </div>
   </div>

       </form>
  </body>
</html>
