<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Untitled Page</title>
    <style type="text/css">
        #containernum
{
	width: 50px;
	float: left;
	color: Gray;
	font-family: Courier New;
	font-size: 20px;
	overflow: hidden;
	height: 600px;
    position: relative;
    top: 5px;
}
#divlines
{
	position: absolute;
}
#edit_area
{
	overflow-x: scroll;
	height: 99px;
	font-family: Courier New;
	font-size: 20px;
}
    </style>
</head>
<body>
<div id="containernum">
<div id="divlines">
</div>
</div>
<textarea id="edit_area" name="editor" style="width:80%; height:600px;" rows="100" placeholder="Write Code...... ">{{ code }}</textarea><br>


<script type="text/javascript">
var lines = document.getElementById("divlines");
var txtArea = document.getElementById("edit_area");
window.onload = function() {
    refreshlines();
    txtArea.onscroll = function () {
        lines.style.top = -(txtArea.scrollTop) + "px";
        return true;
    }
    txtArea.onkeyup = function () {
        refreshlines();
        return true;
    }
}

function refreshlines() {
    var nLines = txtArea.value.split("\n").length;
    lines.innerHTML = ""
    for (i=1; i<=nLines; i++) {
        lines.innerHTML = lines.innerHTML + i + "." + "<br />";
    }
    lines.style.top = -(txtArea.scrollTop) + "px";
}
</script>
</body>
</html>


